<template>
  <div class="home">
    <div id="header">
      <img border="0" src="../assets/jf_logo.jpg" width="170" height="140" />
    </div>

    <dir>
      <a-row type="flex" justify="space-around" align="middle">
        <a-col :span="2">
          <p class="height-120"></p>
        </a-col>
        <a-col :span="12">
          <p
            class="height-50"
            style="font-size: 25px; color: black; font-weight: bolder;"
          >Portarias e Atos que regulamentam as atividades</p>
        </a-col>

        <a-col :span="2">
          <p class="height-80"></p>
        </a-col>
      </a-row>
    </dir>

    <dir>
      <a-row type="flex" justify="space-around" align="middle">
        <a-col :span="2">
          <p class="height-120"></p>
        </a-col>
        <a-col :span="12">
          <p
            class="height-50"
            style="font-size: 25px; color: black; font-weight: bolder;margin-top: -30px;"
          >administrativas e judiciárias da SJPB desde 2006.</p>
        </a-col>

        <a-col :span="2">
          <p class="height-80"></p>
        </a-col>
      </a-row>
    </dir>

    <br />
    <br />
    <br />

    <a-modal v-model="isLoged" @ok="add" okText="Adicionar" cancelText="Cancelar">
      <a-form style="padding: 20px;">
        <a-row :gutter="24">
          <a-col :span="12">
            <a-form-item label="Título">
              <a-input v-model="novoTitulo" placeholder="Portaria nº230, Ato nº23" />
            </a-form-item>
          </a-col>
          <!-- <a-col :span="8">
                        <a-form-item  label="Data">
                            <a-date-picker @change="onChange"></a-date-picker>
                        </a-form-item>
          </a-col>-->
          <a-col :span="12">
            <a-form-item label="Link">
              <a-input v-model="novoLink" />
            </a-form-item>
          </a-col>
        </a-row>

        <a-form-item label="Descrição">
          <a-textarea v-model="novoDescricao" />
        </a-form-item>
      </a-form>
    </a-modal>

    <a-table
      bordered
      :columns="columns"
      :data-source="portarias"
      style="max-width:960px; margin:auto"
    >
      <template v-if="logado" slot="title" style="background: #000">
        <a-button @click="showModal" type="primary">Adicionar Documento</a-button>
      </template>

      <template slot="name" slot-scope="text">
        <a-button>
          <a :href="text">
            <a-icon type="download" />
          </a>
        </a-button>
      </template>

      <!-- inicio filtro -->
      <div
        slot="filterDropdown"
        slot-scope="{
          setSelectedKeys,
          selectedKeys,
          confirm,
          clearFilters,
          column,
        }"
        style="padding: 8px"
      >
        <a-input
          v-ant-ref="(c) => (searchInput = c)"
          :placeholder="`Pesquisar em ${column.dataIndex}`"
          :value="selectedKeys[0]"
          style="width: 200px; margin-bottom: 8px; display: block;"
          @change="
            (e) => setSelectedKeys(e.target.value ? [e.target.value] : [])
          "
          @pressEnter="
            () => handleSearch(selectedKeys, confirm, column.dataIndex)
          "
        />
        <a-button
          type="primary"
          icon="search"
          size="small"
          style="width: 100px; margin-right: 8px"
          @click="() => handleSearch(selectedKeys, confirm, column.dataIndex)"
        >Pesquisar</a-button>
        <a-button size="small" style="width: 90px" @click="() => handleReset(clearFilters)">Limpar</a-button>
      </div>

      <a-icon
        slot="filterIcon"
        slot-scope="filtered"
        type="search"
        :style="{ color: filtered ? '#108ee9' : undefined }"
      />

      <template slot="customRender" slot-scope="text, record, index, column">
        <span v-if="searchText && searchedColumn === column.dataIndex">
          <template
            v-for="(fragment, i) in text
              .toString()
              .split(new RegExp(`(?<=${searchText})|(?=${searchText})`, 'i'))"
          >
            <mark
              v-if="fragment.toLowerCase() === searchText.toLowerCase()"
              :key="i"
              class="highlight"
            >{{ fragment }}</mark>
            <template v-else>{{ fragment }}</template>
          </template>
        </span>
        <template v-else>{{ text }}</template>
      </template>
      <!-- fim filtro -->
    </a-table>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import { portarias } from "../assets/documentos";

export default {
  data() {
    return {
      isLoged: false,
      novoTitulo: "",
      novoDescricao: "",
      novoData: "",
      novoLink: "",

      searchText: "",
      searchInput: null,
      searchedColumn: "",
      columns: [
        {
          key: "titulo",
          title: "Título",
          dataIndex: "titulo",
          width: 300,
          scopedSlots: {
            filterDropdown: "filterDropdown",
            filterIcon: "filterIcon",
            customRender: "customRender"
          },
          onFilter: (value, record) =>
            record.titulo
              .toString()
              .toLowerCase()
              .includes(value.toLowerCase()),
          onFilterDropdownVisibleChange: visible => {
            if (visible) {
              setTimeout(() => {
                this.searchInput.focus();
              }, 0);
            }
          }
        },
        {
          key: "descricao",
          title: "Descrição",
          dataIndex: "descricao",
          width: 1200,
          scopedSlots: {
            filterDropdown: "filterDropdown",
            filterIcon: "filterIcon",
            customRender: "customRender"
          },
          onFilter: (value, record) =>
            record.descricao
              .toString()
              .toLowerCase()
              .includes(value.toLowerCase()),
          onFilterDropdownVisibleChange: visible => {
            if (visible) {
              setTimeout(() => {
                this.searchInput.focus();
              }, 0);
            }
          }
        },
        {
          key: "link",
          title: "Link",
          dataIndex: "link",
          scopedSlots: { customRender: "name" }
        }
      ],
      portarias
    };
  },
  computed: {
    logado() {
      return this.$store.state.usuario;
    }
  },
  methods: {
    add() {
      this.portarias.push({
        titulo: this.novoTitulo,
        // data: this.novoData,
        descricao: this.novoDescricao,
        link: this.novoLink
      });
      this.isLoged = false;
      this.limparCampos();
    },

    // onChange(date, dateString) {
    //     this.novoData = dateString
    // },

    showModal() {
      this.isLoged = true;
    },

    limparCampos() {
      this.novoTitulo = "";
      this.novoDescricao = "";
      // this.novoData = ''
      this.novoLink = "";
    },

    // filtros
    handleSearch(selectedKeys, confirm, dataIndex) {
      confirm();
      this.searchText = selectedKeys[0];
      this.searchedColumn = dataIndex;
    },

    handleReset(clearFilters) {
      clearFilters();
      this.searchText = "";
    }
    // fim filtros
  },
  name: "Home",
  components: {
    HelloWorld
  }
};
</script>

<style>
#header {
  display: block;
  background-color: #ffffff;
  width: 100%;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  line-height: 0.5;
  color: #2a3d29;
}

#header img {
  margin: 30px;
}

.ant-table-thead > tr > th {
  background: #7fa07d !important;
  font-weight: bold !important;
}
.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-thead
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: #eaf9ec !important;
}
.ant-table-thead > tr > th .ant-table-filter-icon {
  width: 34px !important;
  height: 34px !important;
  color: #000000 !important;
  font-size: 14px !important;
  background: #c7e0c5;
  border-radius: 10px;
  margin: 10px;
}
.ant-table-thead > tr > th .ant-table-filter-icon > svg {
  top: 43%;
  left: 45%;
}
.ant-table-title {
  background: #6b8669;
}
.ant-btn:hover,
.ant-btn:focus {
  color: #7fa07d !important;
  border-color: #7fa07d !important;
}
.ant-btn-primary {
  color: #fff !important;
  background-color: #7fa07d !important;
  border-color: #6b8669 !important;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff !important;
  background-color: #a4c3a3 !important;
  border-color: #7fa07d !important;
}
</style>
