<template>
    <div class="home">
        <div id="header">
            <img border="" src="../assets/jf_logo.jpg" width="170" height="140">

            <p> Portarias e Atos que regulamentam as atividades </p>
            <p>administrativas e judiciárias da SJPB desde 2006.</p>
        </div>
        <br><br><br>
    
  <a-form-model :model="form" :label-col="labelCol" :wrapper-col="wrapperCol" :rules="rules">
    <a-form-model-item label="Titulo" required> 
      <a-input v-model="form.titulo"
      />
    </a-form-model-item>

    <a-form-model-item label="Descrição" required>
      <a-input v-model="form.descricao" type="textarea" />
    </a-form-model-item>
    <a-upload
      :model="form"
      name="file"
      :multiple="true"
      action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
      
      
    >
    <!-- :headers="headers" -->
    <!-- @change="handleChange" -->
      <a-button> <a-icon type="upload" /> Click to Upload </a-button>
    </a-upload>
 
    <a-form-model-item :wrapper-col="{ span: 16, offset: 4 }">
      <a-button type="primary" @click="onSubmit" >
        Enviar
      </a-button>
    </a-form-model-item>
  </a-form-model>
  </div>
</template>
<script>
export default {
  data() {
    return {
      labelCol: { span: 6 },
      wrapperCol: { span: 12 },
      form: {
        descricao: "",
        titulo: "",
        type: [],
      },
    };
  },
  methods: {
    onSubmit() {
      console.log("submit!", this.form);
    },
  },
};
</script>
