<template>
  <div>
    <div class="topnav" id="myTopnav">
      <a
        class="top aui-helper-clearfix"
        style="width: 215px; margin-top: 11px;
    margin-left: 46px;"
      ></a>
      <a href="http://www.trf5.jus.br/" target="_BLANK">TRF5</a>
      <a href="http://www.jfpe.jus.br/" target="_BLANK">JFPE</a>
      <a href="http://www.jfpb.jus.br/" target="_BLANK" class="active">JFPB</a>
      <a href="http://www.jfce.jus.br/" target="_BLANK">JFCE</a>
      <a href="http://www.jfse.jus.br/" target="_BLANK">JFSE</a>
      <a href="http://www.jfal.jus.br/" target="_BLANK">JFAL</a>
      <a href="http://www.jfrn.jus.br/" target="_BLANK">JFRN</a>
      <a v-if="logado" class="login" style=" margin-top: -14px; float: right;" @click="sair">
        <router-link to="/">Sair</router-link>
      </a>
      <a v-else class="login" style=" margin-top: -14px; float: right;" @click="sair">
        <router-link to="/login">Login</router-link>
      </a>
      <a href="javascript:void(0);" class="icon" @click="myFunction()">&#9776;</a>
    </div>
  </div>
</template>
<style scoped>
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 19px;
  text-decoration: none;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 11px;
  font-weight: bold;
}

/* Add an active class to highlight the current page */
.active {
  color: white;
  background: url("../assets/ico-jfpb.png") no-repeat center left;
  padding-left: 20px !important;
  margin-left: 10px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.top-nav .login {
  float: right;
  border-right: none;
}
.top {
  color: #ffffff;
  padding-top: 0;
  margin: 0 auto;
  padding-left: 210px;
  background: url("../assets/bg-top-novo.png") no-repeat top left;
  font-size: 8pt;
  height: 40px;
  max-width: 960px;
}
.top-nav {
  float: left;
  margin: 0;
  padding: 0;
  color: #ffffff;
  width: 100%;
}
.top-nav a {
  display: inline;
  list-style: none;
  border-right: 1px solid #424242;
  padding: 12px;
  float: left;
}
.top-nav a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  color: #ffffff;
}
.top-nav a.active {
  font-weight: bold;
  padding-left: 21px;
  padding-right: 21px;
  color: #ffffff;
}
.top a.ico-jfpb {
  background: url("../assets/ico-jfpb.png") no-repeat center left;
  padding-left: 20px !important;
  margin-left: 10px;
}
</style>

<script>
export default {
  name: "Menu",
  methods: {
    myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    },
    sair() {
      this.$store.dispatch("sair");
    }
  },

  computed: {
    logado() {
      return this.$store.state.usuario;
    }
  }
};
</script>